* {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

body {
    background-color: #f597e1;
}

h1 {
    text-align: center;
    color: rgb(0, 81, 255);
    font-size: 500%;
}

#suerte {
    text-align: center;
    color: rgb(0, 81, 255);
    font-size: 200%;
}

#otra_carta {
    background-color: rgb(248, 212, 4);
    color: black;
    border: 2px solid #4bf021;
    width: 30%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#otra_carta:hover {
    background-color: #4bf021;
    color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reiniciar {
    background-color: rgb(248, 212, 4);
    color: black;
    border: 2px solid #ec0909;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reiniciar:hover {
    background-color: #ec0909;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 20%;
    margin-bottom: 2%;
}

header {
    background-color: #44d64c;
}

main {
    margin-top: 3%;
}

.column img {
    width: 100%;
    margin: 1%;
}

.row {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    background-color: brown;
    width: 90%;
    float: center;
    margin: 3%;
}

.column {
    flex: 20%;
    padding: 5px;
}

#ganaste {
    background-color: rgb(248, 212, 4);
    color: black;
    border: 2px solid #ec0909;
    width: 70%;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-size: 600%;
}

#ganaste:hover {
    background-color: #ec0909;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media (min-width: 576px) {
    .custom-class {
        display: block;
    }
}

@media (min-width: 768px) {
    .custom-class {
        display: block;
    }
}

@media (min-width: 992px) {
    .custom-class {
        display: block;
    }
}

@media (min-width: 1200px) {
    .custom-class {
        display: block;
    }
}

@media (min-width: 1400px) {
    .custom-class {
        display: block;
    }
}